<footer class="footer mt-auto bg-dark">
  <div class="container">
    <div class="row p-4">
      <address class="col-sm-6 m-0">
        <p class="lead text-white m-0">
          Республика Беларусь<br>
          Брестская область<br>
          225003 Брест<br>
          Брестский р-н, Аэропорт,<br>
          здание Аэровокзала 2 этаж блок Б<br>
        </p>
      </address>
      <a class="ml-auto col-sm-6 mt-auto text-right" href="mailto:andpost2000@tut.by">&copy; 2019</a>
    </div>
  </div>
</footer>
<div class="btn-to-top" id='toTop'>
  КНОПКА НА ВЕРХ
</div>
<script src='/js/main.min.js'></script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(56806012, "init", {
       clickmap:true,
       trackLinks:true,
       accurateTrackBounce:true
  });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/56806012" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>

</html>