</head>
<body class="d-flex flex-column h-100">
  <nav class="navbar navbar-expand-md sticky-top navbar-light bg-light px-xl-5">
    <div class="container">
      <a class="navbar-brand d-md-none" href="/">Софтлайн</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" id='home'>
            <a class="nav-link" href="/">Главная</a>
          </li>
          <li class="nav-item" id='products'>
            <a class="nav-link" href="/products/">Продукция</a>
          </li>
          <li class="nav-item" id='projects'>
            <a class="nav-link" href="/projects/">Проекты</a>
          </li>
          <li class="nav-item" id='about-us'>
            <a class="nav-link" href="/about-us/">О нас</a>
          </li>
          <li class="nav-item" id='contacts'>
            <a class="nav-link" href="/contacts/">Контакты</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>