<h2>Наш опыт:</h2>
<div class="row mb-5">
  <div class="col-sm-6">
    <ul>
      <li class="lead">ООО «Софтлайн» имеет более 20 летнею компетенцию в области электроники.</li>
      <li class="lead">Нами был разработан первичный мультиплексор в состав которого входит 16 модулей различного
        применения. Это устройство установлено в Белтелекоме, Министерстве обороны РБ, Погранвойсках РБ и других силовых
        структурах.</li>
    </ul>
  </div>
  <div class="col-sm-6">
    <img src="/img/multipleks.jpg" alt="build-1" class="col-12 p-0">
  </div>
</div>