<h2>Партнерские программы с компаниями:</h2>
<div class="row my-3 my-sm-5 partners">
  <div class="col-lg-3 col-sm-6 mb-4 text-center">
    <a href='http://www.ntlab.com/' target="_blank">
      <div class="partners__img img-thumbnail p-5 mb-3">
        <img src="/img/ntlab-logo.png" alt="NTLab">
      </div>
      <h6>НТЛАБ</br>отечественная микроэлектроника</h6>
    </a>
  </div>
  <div class="col-lg-3 col-sm-6 mb-4 text-center">
    <a href='https://www.baikalelectronics.ru/' target="_blank">
      <div class="partners__img img-thumbnail p-5 mb-3">
        <img src="/img/baikal-logo.png" alt="Baikal Electronics">
      </div>
      <h6>Байкал</br>отечественные процессоры</h6>
    </a>
  </div>
  <div class="col-lg-3 col-sm-6 mb-4 text-center">
    <a href='http://www.mcst.ru/' target="_blank">
      <div class="partners__img img-thumbnail p-5 mb-3">
        <img src="/img/elbrus-logo.png" alt="MCST Elbrus">
      </div>
      <h6>МЦСТ</br>отечественные процессоры</h6>
    </a>
  </div>
  <div class="col-lg-3 col-sm-6 mb-4 text-center">
    <a href='https://promwad.ru/' target="_blank">
      <div class="partners__img img-thumbnail p-5 mb-3">
        <img src="/img/paw-logo.png" alt="PromWAD">
      </div>
      <h6>ПромВад</br>промышленный дизайн</h6>
    </a>
  </div>
</div>