<h2>Стратегия развития:</h2>
<p class="lead">С 1998 года предприятием инвестируются ресурсы в землю, оборудование, разработки, технологии и
  сотрудников.</p>
<div class="row mb-3">
  <div class="col-sm-12 p0 d-sm-flex">
    <img src="/img/build-1.jpg" width="100%" alt="build-1" class="col-12 col-sm-6 mb-xxs-3">
    <img src="/img/build-2.jpg" width="100%" alt="build-2" class="col-12 col-sm-6 mb-xxs-3">
  </div>
</div>
<ul class="mb-sm-5">
  <li class="lead">Имеется участок для расширения производства площадью 1,8Га;</li>
  <li class="lead">Идет строительство «Производственно-Административного корпуса», общей площадью 600 кв. м.</li>
</ul>